<div class="row w-100">
  <div class="col-md-5">
    <app-illustration
    [urlImage]="'/assets/img/login/create-account.png'"
    [color]="'blue'"
    [tela]="'criarConta'"
  ></app-illustration>
  </div>
  <div class="col-md-7 d-flex justify-content-center">
    <div class="container d-flex align-items-center flex-column pt-5">
    <img src="../../../../assets/img/logo.png" class="w-40" />
    <div>
      <form [formGroup]="loginForm" class="d-flex flex-column pt-5">
        <input
          type="text"
          name="nomeEscola"
          placeholder="Nome da Escola"
          formControlName="nomeEscola"
        />
        <input
          type="text"
          name="matricula"
          placeholder="Matricula"
          formControlName="matricula"
        />
        <input
          type="text"
          name="email"
          placeholder="E-mail"
          formControlName="email"
        />
        <input
          type="password"
          name="senha"
          placeholder="Senha"
          formControlName="senha"
        />
      </form>
      <button type="button" class="btn btn-login-form" (click)="criarConta()">Criar conta</button>
    </div>
  </div>

  </div>
</div>
