<div class="header">
  <fa-icon [icon]="faChevronLeft" (click)="back()"></fa-icon>
  <img src="../../../../../assets/img/disciplinas/pi.svg" class="p-2">
  <span>Matemática | Conjuntos</span>
</div>

<div class="d-flex pt-5">
  <div class="d-flex flex-column align-items-center pr-3">
    <img src="../../../../../assets/img/disciplinas/matematica-conjuntos/conjuntos.png" width="235">
    <div class="pl-4 pr-4 pb-5">
      <p class="pt-5">Teoria dos conjuntos ou de conjuntos é o ramo da matemática que estuda conjuntos, que são coleções de elementos.</p>
      <p class="pt-2">Embora qualquer tipo de elemento possa ser reunido em um conjunto, a teoria dos conjuntos é aplicada na maioria das vezes a elementos que são relevantes para a matemática. A linguagem da teoria dos conjuntos pode ser usada nas definições de quase todos os elementos matemáticos.</p>
      <p class="pt-2 pb-5">O estudo moderno da teoria dos conjuntos foi iniciado por Georg Cantor e Richard Dedekind em 1870. Após a descoberta de paradoxos na teoria ingênua dos conjuntos, numerosos sistemas de axiomas foram propostos no início do século XX, dos quais os axiomas de Zermelo-Fraenkel, com o axioma da escolha, são os mais conhecidos.</p>
    </div>
  </div>
</div>
