<nav class="navbar navbar-light bg-transparent d-flex justify-content-around">
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/img/logo.png"
      width="250"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <ul class="nav d-flex align-items-center">
    <li class="nav-item pl-4"><a href="#inicio">Inicio</a></li>
    <li class="nav-item pl-4"><a href="#quem-somos">Sobre</a></li>
    <li class="nav-item pl-4"><a href="#estrutura">Estrutura</a></li>
    <li class="nav-item pl-4"><a href="#contribua">Contribua</a></li>
    <li class="nav-item pl-4">
      <button type="button" class="btn btn-login" (click)="redirectLogin()">
        Login
      </button>
    </li>
  </ul>
</nav>

<div class="container" id="inicio">
  <div class="content-header">
    <div class="row">
      <div class="col-md-8">
        <h1 class="title-header">
          Expandindo as fronteiras da <span>Educação!</span>
        </h1>
        <p class="description-header pr-5 pt-5">
          O Educalis é um projeto inovador que torna possível a Educação a
          Distância para estudantes de baixa renda, com dificuldades de
          mobilidade urbana ou sem acesso a internet!
        </p>
      </div>
      <div class="col-md-4">
        <img src="../../../assets/img/study.png" class="img-header" />
      </div>
    </div>
  </div>
</div>

<div class="container bg-blue mt-5" id="quem-somos">
  <div class="content-quem-somos">
    <h1>Quem somos</h1>
    <div class="pt-5 d-flex align-items-center flex-column">
      <div>
        <p>
          Educalis foi criada pela união de jovens multidisciplinares com
          propósito de democratizar o acesso de comunidades com dificuldades de
          mobilidade urbana através da utilização de tecnologias. Juntamos as
          últimas tecnologias de hardware e software para criar nosso produto
          final com materiais de primeira linha e baixo custo de forma
          sustentável. <br />
          <br />
          O sistema funciona em uma rede local, sem necessidade de internet, no
          qual será mediado pelo nosso Ambiente Virtual de Aprendizagem (AVA).
          Nesse AVA as instituições de ensino poderão disponibilizar material
          didático, informações, realizar aulas com foco no processo de ensino e
          aprendizagem.
        </p>
      </div>
      <div class="d-flex align-items justify-content-between w-100 pt-5">
        <div class="text-center card-mvv">
          <fa-icon class="icon" [icon]="faRocket"></fa-icon>
          <p class="title">Missão</p>
          <span class="description"
            >Melhorar a educação de comunidades que tenham o acesso a escola
            precário através de tecnologia acessível e de baixo custo.</span
          >
        </div>
        <div class="text-center card-mvv">
          <fa-icon class="icon" [icon]="faEye"></fa-icon>
          <p class="title">Visão</p>
          <span class="description"
            >Diminuir os índices de desigualdades oferecendo acesso a educação
            de qualidade de forma remota.</span
          >
        </div>
        <div class="text-center card-mvv">
          <fa-icon class="icon" [icon]="faGem"></fa-icon>
          <p class="title">Valores</p>
          <span class="description"
            >Responsabilidade, Inovação, Acessibilidade, Sustentabilidade,
            Empatia, Comprometimento.</span
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" id="estrutura">
  <div class="content-estrutura">
    <h1>Estrutura</h1>
    <p class="par-2 pt-5">
      O fator chave para a funcionalidade do projeto é a infraestrutura
      responsável por propagar nossa plataforma para estudantes sem conexão com
      internet.
      <br />
      <br />
      Para que isso seja possível ultilizamos um conjunto de dispositivos
      movidos a energia solar (nomeados por nós como "E-hubs"), conectados sem
      fio entre si, que criam uma rede a qual pode ser acessada por qualquer
      pessoa com um smartphone ou computador.
    </p>

    <div class="d-flex justify-content-around pt-5">
      <img src="../../assets/img/page/E-hub 5 1.png" class="h-200" />
      <img src="../../assets/img/page/E-hub 4 1.png" class="h-200" />
      <img src="../../assets/img/page/E-hub t2 1.png" class="h-200" />
    </div>

    <p class="par-2 pt-5">
      A usabilidade é simples, basta que o aluno acesse a rede Wi-Fi gerada pelo
      E-hub mais próximo. Ao conectar-se, o estudante tem acesso a nossa
      plataforma de ensino virtual, contendo materiais didáticos para todas as
      áreas.
      <br />
      <br />
      A plataforma foi pensada por uma equipe de profissionais para tornar o
      aprendizado a distância mais proveitoso, refletindo em um processo de
      ensino mais eficiente por meio do nosso ecossistema.
    </p>

    <div class="container-img pt-3 pb-3">
      <img
        src="../../../assets/img/illustration-estrutura.png"
        class="img-estrutura"
      />
    </div>
  </div>
</div>

<div class="container mt-3" id="contribua">
  <div class="content-estrutura">
    <h1>Contribua</h1>
    <p class="par-2 pt-5">
      Quer ajudar a Educalis a chegar nos mais de 6 milhões de estudantes sem
      acesso a internet no Brasil? Seja um patricionador e nos ajude a propagar
      a educação para quem não tem acesso a esse direito!
      <br />
      <br />
      Você pode ajudar doando equipamentos como celulares, tablets e
      computadores para nossos jovens. Basta preencher o formulário abaixo que
      entraremos em contato com você!
    </p>

    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/img/contribua.png" class="w-100" />
      </div>
      <div class="col-md-6">
        <div class="pr-3 pl-3">
          <form [formGroup]="formContribua" class="d-flex flex-column pt-5">
            <input
              type="text"
              name="nome"
              placeholder="Nome"
              formControlName="nome"
              class="w-100"
            />
            <input
              type="text"
              name="cidade"
              placeholder="Cidade/Estado"
              formControlName="cidade"
              class="w-100"
            />
            <textarea
              type="text"
              name="formaContribuicao"
              placeholder="Digite aqui como você gostaria de contribuir"
              formControlName="formaContribuicao"
              class="w-100"
            ></textarea>
          </form>
          <button type="button" class="btn btn-login-form">Enviar</button>
        </div>
      </div>
    </div>
    </div>
</div>

<footer class="d-flex justify-content-center">
  <div class="d-flex align-items-center p-4">
    <img
      src="../../../assets/img/logo.png"
      width="250"
      class="d-inline-block align-top"
      alt="logo"
    />
    <img
      src="../../../assets/img/separator.png"
      height="120"
      class="d-inline-block align-top pl-3 pr-3"
    />
    <p class="par-2 mb-0">Educação de qualidade e acessível</p>
  </div>
</footer>
