
.btn-login {
  color: #fff;
  background-color: #0098C7;
  border-color: #0098C7;
  box-shadow: 0px 4px 5px rgba(0, 66, 87, 0.3);
  border-radius: 10px;
  height: 40px;
  width: 90px;
}

.img-header {
  width: 150%;
  right: -50px;
  position: absolute;
  padding-top: 40px;
}

.title-header {
  font-size: 55px;
}

.title-header > span {
  color: #0098C7;
  font-size: 60px;
}

.description-header {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  color: #191919;
  width: 80%;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
}

ul > li > a {
  color: #000;
}

.full-width {
  width: 100%;
}

.pt-100 {
  padding-top: 100px;
}

.description {
  font-size: 18px;
}

.bg-blue {
  background: #B1D3DE;
  border-radius: 20px;
}

.content-quem-somos {
  padding: 50px;
}

.content-header {
  padding: 50px;
  margin-bottom: 140px;
}

.font-white {
  color: #fff;
}

.pl-8 {
  padding-left: 6rem!important;
}

.content-estrutura {
  padding: 50px;
}

.par-2 {
  font-size: 20px;
}

.img-estrutura {
  padding: 50px;
  width: 60%;
}

.container-img {
  width: 100%;
  text-align: center;
}

footer {
  background: #CFE0E5;
}

.icon {
  font-size: 35px;
  color: #0098C7;
  padding: 0;
}

.card-mvv {
  background: #FAFAFA;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.25), inset 0px 2px 5px -1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 295px;
  padding: 15px 30px;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 150%;
  text-align: center;
  color: #E70E0E;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  color: #191919;
}

fa-icon {
  padding-right: 10px;
  font-size: 20px;
}
