<nav class="navbar navbar-light bg-white d-flex justify-content-around">
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/img/logo.png"
      width="250"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <ul class="nav d-flex align-items-center">
    <li class="nav-item pl-4"><a href="#inicio">Inicio</a></li>
    <li class="nav-item pl-4"><a href="#quem-somos">Sobre</a></li>
    <li class="nav-item pl-4"><a href="#estrutura">Estrutura</a></li>
    <li class="nav-item pl-4">
      <button type="button" class="btn btn-login" (click)="redirectLogin()">Login</button>
    </li>
  </ul>
</nav>

<div class="container" id="inicio">
  <div class="content-header">
  <div class="row">
    <div class="col-md-5">
      <h1 class="pt-100">Expandindo as barreiras da <span>Educação!</span></h1>
      <p class="description pr-5 pt-5">
        O Educalis é um projeto inovador que torna possível a Educação a
        Distância para estudantes de baixa renda, com dificuldades de mobilidade
        urbana ou sem acesso a internet!
      </p>
    </div>
    <div class="col-md-7">
      <img src="../../../assets/img/study.png" class="full-width" />
    </div>
  </div>
  </div>
</div>

<div class="container bg-blue mt-5" id="quem-somos">
  <div class="content-quem-somos">
    <h1>Quem somos</h1>
    <div class="row pt-5 d-flex align-items-center">
      <div class="col-md-6 pr-5">
        <p>
          Educalis foi criada pela união de jovens multidisciplinares com
          propósito de democratizar o acesso de comunidades com dificuldades de
          mobilidade urbana através da utilização de tecnologias. Juntamos as
          últimas tecnologias de hardware e software para criar nosso produto
          final com materiais de primeira linha e baixo custo de forma
          sustentável.
          <br />
          <br />
          O sistema funciona em uma rede local, sem necessidade de internet, no
          qual será mediado pelo nosso Ambiente Virtual de Aprendizagem (AVA).
          Nesse AVA as instituições de ensino poderão disponibilizar material
          didático, informações, realizar aulas com foco no processo de ensino e
          aprendizagem.
        </p>
      </div>
      <div class="col-md-6 pl-8">
        <p>
          <span class="font-white">Missão:</span> melhorar a educação de
          comunidades que tenham o acesso a escola precário através de
          tecnologia acessível e baixo custo.
          <br />
          <br />
          <span class="font-white">Visão:</span> diminuir os índices de
          desigualdades oferecendo acesso a educação de qualidade de forma
          remota.
          <br />
          <br />
          <span class="font-white">Valores:</span> Responsabilidade, Inovação,
          Acessibilidade, Sustentabilidade, Empatia, Comprometimento.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" id="estrutura">
  <div class="content-estrutura">
    <h1>Estrutura</h1>
    <p class="par-2 pt-5">
      O fator chave para a funcionalidade do projeto é a infraestrutura
      responsável por propagar nossa plataforma para estudantes sem conexão com
      internet. Para que isso seja possível ultilizamos um conjunto dispositivos
      movidos a energia solar (nomeados por nós como "E-hubs"), conectados sem
      fio entre si, que criam uma rede a qual pode ser acessada por qualquer
      pessoa com um smartphone ou computador.
    </p>

    <img />

    <p class="par-2 pt-5">
      A usabilidade é simples, basta que o aluno acesse a rede Wi-Fi gerada pelo
      E-hub mais próximo. Ao conectar-se, o estudante tem acesso a nossa
      plataforma de ensino virtual, contendo materiais didáticos para todas as
      idades. A plataforma foi pensada por uma equipe de profissionais para
      tornar o aprendizado a distância mais proveitoso, tornando assim eficiente
      o ensino por meio de nosso ecossistema.
    </p>

    <div class="container-img pt-3 pb-3">
      <img src="../../../assets/img/illustration-estrutura.png" class="img-estrutura">
    </div>
  </div>
</div>

<footer class="d-flex justify-content-center">
  <div class="d-flex align-items-center p-4">
    <img
      src="../../../assets/img/logo.png"
      width="250"
      class="d-inline-block align-top"
      alt="logo"
    />
    <img
      src="../../../assets/img/separator.png"
      height="120"
      class="d-inline-block align-top pl-3 pr-3"
    />
    <p class="par-2 mb-0">Educação de qualidade e acessível</p>
  </div>
</footer>
